<% tags_arr = [] %>
<% Tag.all.each do |tag| %>
<% tags_arr.push(tag.tag_name)  %>
<% end %>

<%= form_for :challenges, :url => {:action => "create", :controller => "challenge"} do |f| %>
    <div class="add-form">
        <div class="add-form-div1">
            <%= f.label "Title" , :class => "title-label" %>
            <%= f.text_field :title , :class => "input" %>
        </div>
        <div class="add-form-div2">
            <%= f.label "Description", :class => "desc-label" %>
            <%= f.text_field :description, :class => "input" %>
        </div>
        <div class="add-form-div3">
            <%= f.label "Tag", :class => "tag-label" %>
            <%= f.select :tag, tags_arr ,selected: " ", class: "input-select" %>
            <%= f.text_field :employee_id, :type => 'hidden', :value => current_employee.id %>
        </div>
        <div class="add-form-div4">
            <%= f.submit "Add Challenge", class: "submit" %>
        </div>
    </div>
<% end %>

