<%= link_to "<h1 class='hackathon-title' >Hackathon</h1>".html_safe, root_path %>
<div class="container bg-light w-50 h-100">
  <div class= "login-form-div">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="row">
        <div class="col">
          <%= f.text_field :fname, class: "form-control", placeholder: "First name" %>
        </div>
        <div class="col">
          <%= f.text_field :lname, class: "form-control", placeholder: "Last name" %>
        </div>
      </div>
      <br>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      <br>
      <%= f.text_field :emp, autofocus: true, class: "form-control" %>
      <br>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "New password" %>
      <% if @minimum_password_length %>
        <br />  
        <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirm your password !"%>
      <br>
      <i>(we need your current password to confirm your changes)</i><br />
      <%= f.password_field :current_password, autocomplete: "current-password",class: "form-control" ,placeholder: "Current password" %>
      <br>
      <%= f.submit "Update", class: "btn btn-primary" %>
    <% end %>
    <br>
    <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
    <br>
  </div>
</div>
<%= link_to "Back", :back %>
