<h1 class="hackathon-title" >Hackathon</h1>
<%= link_to "Sign Up", new_employee_registration_path, class: "text-primary sign-up-btn" %>
<div class="container bg-light w-50 mt-5 h-100 p-3 pb-4">
  <div class= "login-form-div">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.text_field :login, autofocus: true, class: "form-control", placeholder: "Employee Id" %>
      <br>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Password" %>
      <br>
      <%= f.submit "Log in", class: "btn btn-primary" %>
  <% end %>
  </div>
  
</div>

<%= render "devise/shared/links" %>
